#paneRight {
	-fx-background-image: url("./img/bg.jpg");	
}

.button {
    -fx-text-fill: white;
    -fx-background-color:#336699;
	-fx-font-family:'Helvetica Neue', sans-serif;
    -fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-border-radius: 20px;
	-fx-max-width: 10000px; /* BIG VALUE */
}

.button:hover {
    -fx-background-color:#006699;
    -fx-cursor: hand;
}

.label {
	-fx-text-fill: white;
	-fx-alignment: center;
    -fx-font-weight: bold;
    -fx-background-color:#336699;
	-fx-font-family:'Helvetica Neue', sans-serif;
	-fx-font-size: 18px;
	-fx-label-padding: 5;
	-fx-background-radius: 5px;
	-fx-max-width: 10000px; /* BIG VALUE */	
}

#wrongInfo {
	-fx-font-size: 25px;
}

.slider .track {
    -fx-background-color:#336699;
    -fx-border-color: #FFF;
    -fx-border-radius: 20px;
}

.slider .thumb {
    -fx-background-color:#336699;
    -fx-border-color: #FFF;
    -fx-border-radius: 20px;
}

.slider:hover {
	-fx-cursor: hand;
}

